:root {
    --white: #fff;
    --dark: #000;
    --red: #98272D;
    --blancChaud: #DDAF64;
    --yellow: #ECEFA9;
    --turquoise: #1E6672;
    --lime: #63B67F;
    --orange: #D45125;
}

html {
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    background-image: url("../img/img_arriere_plan/ciel.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}

.chapter {
    border: yellow 1px solid;
}  
.animable {
    border: var(--orange) 2px solid;
}

.container {
    height: 100%;
    width: 100%;
    text-align: center;    
    display: flex;
    align-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
}
  
h1 {
    font-family: 'Shantell Sans', cursive;
    font-weight: bold;
    font-size:calc(10px + 10vw);
    color: var(--turquoise);


}

p {
    font-family: 'Sriracha', cursive;
    font-size:calc(10px + 1vw);
    margin: 0;
    width: 30vw;
    text-align: center;
    margin-top: 20px;   
    right: 1%;
    position: absolute;
    background-color: var(--red);
    padding: 20px;
    border-radius: 20px;
    color: var(--white);
}
a{
    font-family: 'Sriracha', cursive;
    font-size:calc(10px + 1vw);
    margin: 0;
}
.projet{ 
    font-family: 'Sriracha', cursive;
    font-size: 15px;
    line-height: 1.5;
}

.scroll-down-arrow {
    position: absolute;

    border-radius: 20px;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
}
  
.scroll-down-arrow span {
    display: block;
    width: 48px;
    height: 48px;
    border-right: 7px solid var(--turquoise);
    border-bottom: 7px solid var(--turquoise);
    transform: rotate(45deg);
}
/*-------------------CHAPITRE 1------------------*/
#chapitre1{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/img_arriere_plan/falaise3.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    

}

.chapt1{
    position: absolute;
    z-index: 10;
}
.petite-roche {
    width: 5%;
    height: 5%;
    min-width: 50px;
}

#homme-falaise{
    left: 50%;
    transform: translateX(-50%) ;
    max-height: 500px;
    width: auto;
    position: absolute;
}

#ixy-mort{
    left: 50%;
    transform: translateX(-50%);
    max-height: 200px;
    width: auto;
    position: absolute;
}

.petite-roche.no1{
    left: 60%;
    scale: 0.5;
}

.petite-roche.no2{
    left: 40%;
    scale: 0.7;
}

.petite-roche.no3{
    left: 30%;
    scale: 0.4;
}

.petite-roche.no4{
    left: 69%;
    scale: 0.9;
}



/*-------------------CHAPITRE 2------------------*/




#chapitre2{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/img_arriere_plan/forest.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    box-sizing: border-box;
}
.chapt2 {
    position: absolute;
    z-index: 11;

}
#ixy-feuille{
    left: 40%;
    transform: translateX(-50%);
    max-height: 250px;
    width: 50vw;
    bottom: 0px;
}

.feuille.no0 {
    position: relative;
    width: 4vw;
    left: 50%;
    min-width: 70px;
    z-index: 0;
}
.carte {
    position: absolute;
    z-index: 3;
    max-width: 50vw;
    left: 50%;
    transform: translateX(-50%); 
    opacity: 1;
}
.ixy-marche {
    left: 40%;
    transform: translateX(-50%); 
    position: absolute;
    bottom: 0px;
    box-sizing: border-box;
    width: 503.5px;
}
.body.is-scrolling .feuille{
    animation-play-state: running;
}

.sprite-animation{
    scale: 0.5;
    width: 503.5px;
    height: 502px;
    background-size: cover;
    background-image: url("../img/img_personnages/spritesheet-fantome-foret2.png");
    background-repeat: repeat-x;
    z-index: 1;
    animation: sprite-animation 2s steps(32) infinite;

    animation-play-state: paused;

}


@keyframes sprite-animation {
    from { background-position: 0 0; }
    to { background-position: 16112px 0;}
}

.body.is-scrolling .sprite-animation{
    animation-play-state: running;
}

.body.is-scrolling .feuille{
    animation-play-state: running;
}



/*-------------------CHAPITRE 3------------------*/

#chapitre3{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/img_arriere_plan/chemin_pierre.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.ixy-roche{
    left: 50%;
    transform: translateX(-50%);
    max-height: 250px;
    width: auto;
}

.chapt3 {
    position: absolute;
    z-index: 11;

}


/*-------------------CHAPITRE 4------------------*/

#chapitre4{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/img_arriere_plan/paysage_chateau.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.chapt4 {
    position: absolute;
    z-index: 11;

}
.body.is-scrolling .sprite{
    animation-play-state: running;
}

.sprite.no1 {
    left: 50vw;
    transform: translateX(-50%);
    width: 411.45px;
    height: 422px;
    background-size: cover;
    background-image: url("../img/img_personnages/spritesheet-fantome-ciel.png");
    background-repeat: repeat-x;
    z-index: 1;
    animation: sprite 2s steps(39) infinite;
    position: relative;
    animation-play-state: paused;
}

@keyframes sprite {
    from { background-position: 0 0; }
    to { background-position: -16458px 0; }
}

.sprite.no2 {
    left: 50vw;
    transform: translateX(-50%);
    width: 411.45px;
    height: 422px;
    background-size: cover;
    background-image: url("../img/img_personnages/spritesheet-fantome-ciel.png");
    background-repeat: repeat-x;
    z-index: 1;
    animation: sprite 2s steps(39) infinite;
    position: absolute;
    animation-play-state: paused;
}


/*-------------------CHAPITRE 5------------------*/


#chapitre5{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/img_personnages/ixy_avec_tresor.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
 
/*-------------------CHAPITRE 6------------------*/

#chapitre6{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/img_arriere_plan/paysage_paradis.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.chapt6.feuille {
    position: relative;
    width: 5%;
    height: 5%;
    min-width: 50px;
}

.feuille.no1{
    left: 10%;
    scale: 0.5;
}

.feuille.no2{
    left: 40%;
    scale: 0.7;
}

.feuille.no3{
    left: 30%;
    scale: 0.4;
}

.feuille.no4{
    left: 75%;
    scale: 0.9;
}

.feuille.no5{
    left: 9%;
    scale: 0.3;
}
/*-------------------CHAPITRE 7------------------*/

#chapitre7{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/img_arriere_plan/ciel.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
  
.ixy-mort2{
    left: 50%;
    transform: translateX(-50%);
    max-height: 250px;
    width: auto;

    position: relative;
    animation: fin 2s infinite;
    animation-play-state: paused;
}


@keyframes fin {
    from { top : 70vmin; opacity: 1;}
    to { top: 0vmin; opacity: 0;}
}

.body.is-scrolling .ixy-mort2{
    animation-play-state: running;
}


/*------------------HTML2--------------------*/

.html {
    height: 5000px;
    width: 100%;
}




.sprite.no3 {
    left: 50vw;
    transform: translateX(-50%);

    width: 411.45px;
    height: 422px;
    background-size: cover;
    background-image: url(../img/img_personnages/spritesheet-fantome-ciel.png);
    background-repeat: repeat-x;
    z-index: 1;
    animation: sprite 2s steps(39) infinite;
    position: absolute;
    animation-play-state: paused;
}